@use '@angular/material' as mat;
@use '../../../app/_theme.scss' as app-theme;

@include mat.core();
@include mat.all-component-themes(app-theme.$my-theme);

.org-chart-header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 3% 3% 1% 8%;
    width: 100%;
    z-index: 1000;
    background-color: white;
    padding-top: 64px;

    @media (min-width: 769px) {
        padding-top: 0;

        &.with-collapsed {
            margin-left: 100px;
        }
    }
}

.line-break {
    margin-top: 1%;
    width: 100%;
    height: 1px;
    background-color: #F0F0F0;
    margin-bottom: 2%;
}

.red-button {
    min-width: 0;
}

.org-chart-container {
    margin-top: 17%;
    position: relative;
    width: 100%;
    height: 100vh;
    border-radius: 8px;
    padding-bottom: 1%;
}

.org-chart {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid mat.m2-get-color-from-palette(app-theme.$my-accent, 500);
}

::ng-deep .org-chart-button {
    font-size: larger;
}

::ng-deep .collapse-btn {
    border: red;
}

::ng-deep .ant-card-bordered {
    border: 0;
}

::ng-deep .ant-card-body {
    text-align: left;
}

::ng-deep .person-node {

    .ant-card-head {
        border-bottom: mat.m2-get-color-from-palette(app-theme.$my-accent, 200) 1px solid;
    }

    .ant-card-head-title {
        color: mat.m2-get-color-from-palette(app-theme.$my-accent, 500);
    }

    .ant-card-body {
        color: mat.m2-get-color-from-palette(app-theme.$my-accent, 500);
    }

    background-color: mat.m2-get-color-from-palette(app-theme.$my-accent, 50);
}

::ng-deep .department-node {

    .ant-card-head {
        border-bottom: mat.m2-get-color-from-palette(app-theme.$my-primary, 200) 1px solid;
    }

    .ant-card-head-title {
        color: mat.m2-get-color-from-palette(app-theme.$my-primary, 500);
    }

    .ant-card-body {
        color: mat.m2-get-color-from-palette(app-theme.$my-primary, 500);
    }

    background-color: mat.m2-get-color-from-palette(app-theme.$my-primary, 50);
}