// frontend/src/app/_theme.scss

@use '@angular/material' as mat;

$my-primary: mat.m2-define-palette((10: #E8EAF6,
      50: #e0e6f6,
      100: #b3c2ec,
      200: #809cde,
      300: #4d77d1,
      400: #265bc7,
      500: #15469C, // primary cooperate color
      600: #124094,
      700: #0f378a,
      800: #0c2f80,
      900: #06206d,
      A50: #e6f7ff,
      A100: #d6e2ff,
      A200: #a3c1ff,
      A400: #709fff,
      A700: #5790ff,
      A800: #1890ff,
      A900: #1677ff,
      contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: white,
        A700: white,
      )));

$my-accent: mat.m2-define-palette((50: #fde0e3,
      100: #fbc2c7,
      200: #f89fa6,
      300: #f57c85,
      400: #f3636f,
      500: #E6173F, // accent cooperate color
      600: #e31439,
      700: #df1132,
      800: #db0d2b,
      900: #d4061e,
      A100: #ffc9cd,
      A200: #ff969c,
      A400: #ff636b,
      A700: #ff4a54,
      contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: white,
        A700: white,
      )));


$my-theme: mat.m2-define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
      )));