<div class="app-layout" [class.auth-layout]="isAuthRoute" [class.guest-layout]="!(isLoggedIn$ | async)">
  <div *ngIf="!isAuthRoute" class="desktop-sidebar-wrapper" [class.collapsed]="isCollapsed">
    <app-side-menu *ngIf="isLoggedIn$ | async" [(isCollapsed)]="isCollapsed" [isMobile]="false"
      (openEvaluation)="onOpenEvaluation()"> </app-side-menu>
  </div>

  <nz-drawer [nzVisible]="isDrawerVisible && !isCollapsed" nzPlacement="left" [nzClosable]="false"
    (nzOnClose)="closeDrawer()" [nzBodyStyle]="{ padding: 0 }">
    <ng-container *nzDrawerContent>
      <app-side-menu *ngIf="isDrawerVisible && !isCollapsed" [(isCollapsed)]="isCollapsed" [isMobile]="true"
        class="is-mobile" (openEvaluation)="onOpenEvaluation()">
      </app-side-menu>
    </ng-container>
  </nz-drawer>

  <app-evaluation-cycle-drawer [(visible)]="isEvaluationDrawerVisible"></app-evaluation-cycle-drawer>

  <div class="main-content">
    <app-top-header *ngIf="(isLoggedIn$ | async) && !isAuthRoute" (toggleDrawer)="openDrawer()"
      (openEvaluation)="onOpenEvaluation()"></app-top-header>
    <div *ngIf="isLoading$ | async" class="loading-overlay">
      <nz-spin [nzIndicator]="loadingIndicator"></nz-spin>
    </div>

    <div class="content-viewport">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

<ng-template #loadingIndicator>
  <nz-icon nzType="loading" [nzSpin]="true" nzTheme="outline"></nz-icon>
  <span class="loading-text">Loading<span class="dots"></span></span>
</ng-template>

<ng-template #reportFloatButton>
  <nz-icon class="report-float-button" nzType="comment" nzTheme="outline" />
</ng-template>
