@use '@angular/material' as mat;
@use './_theme.scss' as app-theme;

.app-layout {
  display: flex;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  flex-direction: column;

  @media (min-width: 769px) {
    flex-direction: row;
  }
}

.desktop-sidebar-wrapper {
  display: none;

  @media (min-width: 769px) {
    display: block;
  }
}

.mobile-header-wrapper {
  display: flex;
  align-items: center;
  height: 64px;
  background: mat.m2-get-color-from-palette(app-theme.$my-primary, 50);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  @media (min-width: 769px) {
    display: none;
  }

  .trigger {
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
    color: mat.m2-get-color-from-palette(app-theme.$my-primary, 500);
  }

  .mobile-logo {
    height: 30px;
  }
}

.main-content {
  flex: 1;
  transition: margin-left 0.3s ease;
  position: relative;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  padding-top: 64px;

  @media (min-width: 769px) {
    padding-top: 0;

    &.with-collapsed {
      margin-left: 100px;
    }
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
}

::ng-deep .red-float-button .ant-float-btn-body {
  background-color: mat.m2-get-color-from-palette(app-theme.$my-accent, 500);

  &:hover {
    background-color: mat.m2-get-color-from-palette(app-theme.$my-accent, 700);
  }
}

::ng-deep .report-float-button.anticon {
  color: white !important;
}