<app-add-competency *ngIf="hasAccess(['CAN_MANAGE_COMPETENCY'])" (formSubmitted)="fetchAllData()">
</app-add-competency>

<nz-drawer *ngIf="hasAccess(['CAN_MANAGE_ROLE']) && selectedRecord" [nzBodyStyle]="{ overflow: 'auto' }"
    [nzMaskClosable]="false" [nzWidth]="drawerWidth" [nzVisible]="visible$.value"
    nzTitle="{{'PAGE.COMPETENCY.ASSIGNMENT.EDIT.TITLE'| translate}}" [nzFooter]="footerTpl" (nzOnClose)="close()">
    <form nz-form *nzDrawerContent [formGroup]="validateForm" nzLayout="vertical">
        <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="20">
                <nz-form-item>
                    <nz-form-label nzRequired [nzSm]="5" [nzXs]="23" nzLabelAlign="left">
                        {{'PAGE.COMPETENCY.ASSIGNMENT.EDIT.INPUT.DEPARTMENT'|translate}}
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="( 'PAGE.COMPETENCY.ASSIGNMENT.EDIT.ERR.DEPARTMENT' | translate )">
                        <nz-select nzDisabled nzShowSearch nzAllowClear formControlName="department" id="department"
                            nzPlaceHolder="{{'PAGE.COMPETENCY.ASSIGNMENT.EDIT.PLACEHOLDER.DEPARTMENT' | translate}}">
                            <nz-option [nzLabel]="selectedRecord!.orgChartName" [nzValue]="selectedRecord!.orgChartId">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="20">
                <nz-form-item>
                    <nz-form-label nzRequired [nzSm]="5" [nzXs]="23" nzLabelAlign="left">
                        {{'PAGE.COMPETENCY.ASSIGNMENT.EDIT.INPUT.ROLE'|translate}}
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="( 'PAGE.COMPETENCY.ASSIGNMENT.EDIT.ERR.ROLE' | translate )">
                        <nz-select nzDisabled nzShowSearch nzAllowClear [nzNotFoundContent]="notFoundContent"
                            nzPlaceHolder="{{ 'PAGE.COMPETENCY.ASSIGNMENT.EDIT.PLACEHOLDER.ROLE' | translate}}"
                            id="role" formControlName="role">
                            <nz-option [nzLabel]="selectedRecord!.roleName" [nzValue]="selectedRecord!.roleId">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="20">
                <ng-container formArrayName="competencyList">
                    <nz-form-item *ngIf="listOfControl.controls.length == 0">
                        <nz-form-label [nzSm]="5" [nzXs]="23" nzLabelAlign="left">
                            {{'PAGE.COMPETENCY.ASSIGNMENT.EDIT.INPUT.COMPETENCY'| translate}}
                        </nz-form-label>
                        <nz-form-control nzSpan="120"
                            [nzValidateStatus]="validateForm.get('competencyList')?.errors?.['minLengthArray']? 'error':'success'"
                            [nzErrorTip]="( 'PAGE.COMPETENCY.ASSIGNMENT.EDIT.ERR.AT_LEAST_ONE_COMPETENCY' | translate )">
                            <button nz-button nzType="dashed" (click)="addField()">
                                <span nz-icon nzType="plus"></span>
                                {{'PAGE.COMPETENCY.ASSIGNMENT.EDIT.COMPETENCY.ADD' | translate}}
                            </button>
                        </nz-form-control>
                    </nz-form-item>

                    @for (control of listOfControl.controls; track control; let i = $index) {
                    <div [formGroupName]="i">
                        <nz-form-item *ngIf="listOfControl.controls.length > 0">
                            <nz-form-label *ngIf="i===0" [nzSm]="5" [nzXs]="23" nzLabelAlign="left">
                                {{'PAGE.COMPETENCY.ASSIGNMENT.EDIT.INPUT.COMPETENCY'| translate}}
                            </nz-form-label>
                            <nz-form-control [nzValidateStatus]="(listOfControl.at(i).get('competencyId')?.invalid 
                            && listOfControl.at(i).get('competencyId')?.dirty) ||
                            ( listOfControl.at(i).get('weightage')?.hasError('required')
                            && listOfControl.at(i).get('weightage')?.dirty)
                            ? 'error': ( listOfControl.at(i).get('weightage')?.hasError('pattern')
                            && listOfControl.at(i).get('weightage')?.dirty) ? 'warning' :'success'"
                                [nzErrorTip]="( 'PAGE.COMPETENCY.ASSIGNMENT.EDIT.ERR.COMPETENCY' | translate )"
                                [nzWarningTip]="( 'PAGE.COMPETENCY.ASSIGNMENT.EDIT.WARN.WEIGHTAGE' | translate )">
                                <div class="competency-input">
                                    <nz-form-item class="competency-select">
                                        <nz-form-control [nzValidateStatus]="(listOfControl.at(i).get('competencyId')?.invalid 
                                    && listOfControl.at(i).get('competencyId')?.dirty)? 'error':'success'">
                                            <nz-select nzShowSearch nzAllowClear nz-input
                                                nzPlaceHolder="{{ 'PAGE.COMPETENCY.ASSIGNMENT.EDIT.PLACEHOLDER.COMPETENCY' | translate}}"
                                                id="competencyId" formControlName="competencyId">
                                                <nz-option *ngFor="let competency of selectedCompetencyList"
                                                    [nzLabel]="competency.name" [nzValue]="competency.id!"
                                                    [nzDisabled]="competencyCheck(competency.id!)">
                                                </nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                    <nz-form-item class="weightage-input">
                                        <nz-form-control [nzValidateStatus]="( listOfControl.at(i).get('weightage')?.hasError('required')
                                    && listOfControl.at(i).get('weightage')?.dirty)
                                    ? 'error': ( listOfControl.at(i).get('weightage')?.hasError('pattern')
                                    && listOfControl.at(i).get('weightage')?.dirty)? 'warning':'success'">
                                            <nz-input-group [nzSuffix]="inputClearTpl">
                                                <input nz-input type="number" formControlName="weightage" nzSize="large"
                                                    placeholder="{{ 'PAGE.COMPETENCY.ASSIGNMENT.EDIT.PLACEHOLDER.WEIGHTAGE' | translate }}"
                                                    min="1" max="100" step="1" (input)="onWeightageInput(i, $event)" />
                                                <ng-template #inputClearTpl>
                                                    <nz-icon class="ant-input-clear-icon" nzTheme="fill"
                                                        nzType="close-circle"
                                                        (click)="listOfControl.at(i).get('weightage')!.setValue(''); listOfControl.at(i).get('weightage')!.markAsDirty();"
                                                        *ngIf="listOfControl.at(i).get('weightage')!.value != ''" />
                                                </ng-template>
                                            </nz-input-group>
                                        </nz-form-control>
                                    </nz-form-item>
                                    <nz-form-item class="dynamic-delete-button">
                                        <nz-icon nzType="minus-circle" nzTheme="outline"
                                            (click)="removeField(i, $event)" />
                                    </nz-form-item>
                                </div>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    }
                    <nz-form-item>
                        <nz-form-control *ngIf="listOfControl.controls.length > 0">
                            <button nz-button nzType="dashed" (click)="addField()">
                                <span nz-icon nzType="plus"></span>
                                {{'PAGE.COMPETENCY.ASSIGNMENT.EDIT.COMPETENCY.ADD' | translate}}
                            </button>
                        </nz-form-control>
                    </nz-form-item>
                </ng-container>

            </div>
        </div>
        <div nz-row [nzGutter]="8" *ngIf="isAddingRoleCompetencies && hasAccess(['CAN_MANAGE_COMPETENCY'])">
            <div nz-col nzSpan="20">
                <nz-form-item>
                    <nz-form-label nzNoColon="true" [nzSm]="5" [nzXs]="23" nzLabelAlign="left">
                    </nz-form-label>
                    <nz-form-control>
                        <button nz-button nzType="dashed" (click)="addNewCompetency()"
                            class="add-new-competency-button">
                            <span nz-icon nzType="plus"></span>
                            {{'PAGE.COMPETENCY.ASSIGNMENT.EDIT.COMPETENCY.NEW' | translate}}
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>

    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="close()">
                {{'PAGE.COMPETENCY.ASSIGNMENT.EDIT.BUTTON.CANCEL'| translate}}
            </button>
            <button nz-button nzType="primary" (click)="showConfirm()">
                {{isAddingRoleCompetencies ?
                ('PAGE.ROLES_COMPETENCIES.ADD.BUTTON.NEXT'| translate)
                :('PAGE.COMPETENCY.ASSIGNMENT.EDIT.BUTTON.SUBMIT'| translate)}}
            </button>
        </div>
    </ng-template>

</nz-drawer>

<ng-template #notFoundContent>
    <span class="text-gray-500" *ngIf="!validateForm.get('department')?.value">
        {{ 'PAGE.COMPETENCY.ASSIGNMENT.EDIT.ERR.DEPARTMENT_FIRST' | translate }}
    </span>

    <nz-empty nzNotFoundImage="simple" *ngIf="validateForm.get('department')?.value"></nz-empty>
</ng-template>