<nz-drawer *ngIf="hasAccess(['CAN_MANAGE_ROLE'])" [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false"
    [nzWidth]="drawerWidth" [nzVisible]="visible$.value" nzTitle="{{'PAGE.ROLE.OVERVIEW.EDIT.TITLE'| translate}}"
    [nzFooter]="footerTpl" (nzOnClose)="close()">
    <form nz-form *nzDrawerContent [formGroup]="validateForm" nzLayout="vertical">
        <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="18">
                <nz-form-item>
                    <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" nzLabelAlign="left">
                        {{'PAGE.ROLE.OVERVIEW.EDIT.INPUT.DEPARTMENT'|translate}}
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="( 'PAGE.ROLE.OVERVIEW.EDIT.ERR.DEPARTMENT' | translate )">
                        <nz-select nzShowSearch nzAllowClear formControlName="department" id="department"
                            nzPlaceHolder="{{'PAGE.ROLE.OVERVIEW.EDIT.PLACEHOLDER.DEPARTMENT' | translate}}">
                            <nz-option *ngFor="let department of orgChartList" [nzLabel]="department.name"
                                [nzValue]="department.id!">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="18">
                <nz-form-item>
                    <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" nzLabelAlign="left">
                        {{'PAGE.ROLE.OVERVIEW.EDIT.INPUT.ROLE'|translate}}
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="( 'PAGE.ROLE.OVERVIEW.EDIT.ERR.ROLE' | translate )">
                        <nz-input-group [nzSuffix]="inputClearTpl">
                            <input type="text" nz-input formControlName="role" id="role" maxlength="255"
                                placeholder="{{'PAGE.ROLE.OVERVIEW.EDIT.PLACEHOLDER.ROLE' | translate}}" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="8" *ngIf="hasAccess(['CAN_VIEW_INVISIBLE_ROLE'])">
            <div nz-col nzSpan="18">
                <nz-form-item>
                    <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" nzLabelAlign="left">
                        {{'PAGE.ROLE.OVERVIEW.EDIT.INPUT.VISIBILITY'|translate}}
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="( 'PAGE.ROLE.OVERVIEW.EDIT.ERR.VISIBILITY' | translate )">
                        <nz-select formControlName="visibility" id="visibility"
                            nzPlaceHolder="{{'PAGE.ROLE.OVERVIEW.EDIT.PLACEHOLDER.VISIBILITY' | translate}}">
                            <nz-option nzLabel="{{'PAGE.ROLE.OVERVIEW.EDIT.VISIBILITY.INVISIBLE'|translate}}"
                                [nzValue]="false">
                            </nz-option>
                            <nz-option nzLabel="{{'PAGE.ROLE.OVERVIEW.EDIT.VISIBILITY.VISIBLE'|translate}}"
                                [nzValue]="true">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="18">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzLabelAlign="left">
                        {{'PAGE.ROLE.OVERVIEW.EDIT.INPUT.DESC'|translate}}
                    </nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="textAreaClearTpl">
                            <textarea nz-input formControlName="description" id="description" maxlength="1000"
                                placeholder="{{'PAGE.ROLE.OVERVIEW.EDIT.PLACEHOLDER.DESC' | translate}}">
                                </textarea>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="18">
                <ng-container formArrayName="jobScopeList">
                    <nz-form-item *ngIf="listOfControl.controls.length == 0">
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzLabelAlign="left">
                            {{'PAGE.ROLE.OVERVIEW.EDIT.INPUT.JOB_SCOPE'| translate}}
                        </nz-form-label>
                        <nz-form-control>
                            <button nz-button nzType="dashed" (click)="addField()">
                                <span nz-icon nzType="plus"></span>
                                {{'PAGE.ROLE.OVERVIEW.EDIT.JOB_SCOPE.ADD' | translate}}
                            </button>
                        </nz-form-control>
                    </nz-form-item>

                    @for (control of listOfControl.controls; track control; let i = $index) {
                    <nz-form-item *ngIf="listOfControl.controls.length > 0">
                        <nz-form-label *ngIf="i===0" [nzSm]="6" [nzXs]="24" nzLabelAlign="left">
                            {{'PAGE.ROLE.OVERVIEW.EDIT.INPUT.JOB_SCOPE'| translate}}
                        </nz-form-label>
                        <nz-form-control
                            [nzErrorTip]="( 'PAGE.ROLE.OVERVIEW.EDIT.ERR.JOB_SCOPE' | translate )">
                            <nz-input-group [nzSuffix]="dynamicDeleteButton">
                                <textarea placeholder="{{'PAGE.ROLE.OVERVIEW.EDIT.PLACEHOLDER.JOB_SCOPE'| translate}}"
                                    nz-input [formControlName]="i" (ngModelChange)="onJobScopeInputChange($event)"
                                    [nzAutocomplete]="auto">
                                    </textarea>
                                <nz-autocomplete [nzDataSource]="filteredJobScopeList" nzBackfill
                                    #auto></nz-autocomplete>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <ng-template #dynamicDeleteButton>
                        <nz-icon nzType="minus-circle-o" class="dynamic-delete-button"
                            (click)="removeField(i, $event)" />
                    </ng-template>
                    }

                    <nz-form-control *ngIf="listOfControl.controls.length > 0">
                        <button nz-button nzType="dashed" (click)="addField()">
                            <span nz-icon nzType="plus"></span>
                            {{'PAGE.ROLE.OVERVIEW.EDIT.JOB_SCOPE.ADD' | translate}}
                        </button>
                    </nz-form-control>
                </ng-container>
            </div>
        </div>
    </form>

    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="close()">
                {{'PAGE.ROLE.OVERVIEW.EDIT.BUTTON.CANCEL'| translate}}
            </button>
            <button nz-button nzType="primary" (click)="showConfirm()">
                {{ isAddingRoleCompetencies ? ('PAGE.ROLES_COMPETENCIES.ADD.BUTTON.NEXT'| translate)
                :('PAGE.ROLE.OVERVIEW.ADD.BUTTON.SUBMIT'| translate)}}
            </button>
        </div>
    </ng-template>

</nz-drawer>

<ng-template #inputClearTpl>
    <nz-icon *ngIf="this.validateForm.get('role')?.value" class="ant-input-clear-icon" nzTheme="fill"
        nzType="close-circle" (click)="validateForm.get('role')?.setValue('')" />
</ng-template>

<ng-template #textAreaClearTpl>
    <nz-icon *ngIf="this.validateForm.get('description')?.value" class="ant-input-clear-icon" nzTheme="fill"
        nzType="close-circle" (click)="validateForm.get('description')?.setValue('')" />
</ng-template>