<nz-drawer *ngIf="hasAccess(['CAN_MANAGE_COMPETENCY'])" [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false"
    [nzWidth]="drawerWidth" [nzVisible]="visible$.value" nzTitle="{{'PAGE.COMPETENCY.OVERVIEW.EDIT.TITLE'| translate}}"
    [nzFooter]="footerTpl" (nzOnClose)="close()">
    <form nz-form *nzDrawerContent [formGroup]="validateForm" nzLayout="vertical">
        <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="18">
                <nz-form-item>
                    <nz-form-label nzRequired [nzSm]="8" [nzXs]="26" nzLabelAlign="left">
                        {{'PAGE.COMPETENCY.OVERVIEW.EDIT.INPUT.COMPETENCY'|translate}}
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="( 'PAGE.COMPETENCY.OVERVIEW.EDIT.ERR.COMPETENCY' | translate )">
                        <nz-input-group [nzSuffix]="inputClearTpl">
                            <input type="text" nz-input formControlName="competency" id="competency" maxlength="255"
                                placeholder="{{'PAGE.COMPETENCY.OVERVIEW.EDIT.PLACEHOLDER.COMPETENCY' | translate}}" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="18">
                <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="26" nzLabelAlign="left">
                        {{'PAGE.COMPETENCY.OVERVIEW.EDIT.INPUT.DESC'|translate}}
                    </nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="textAreaClearTpl">
                            <textarea nz-input formControlName="description" id="description" maxlength="1000"
                                placeholder="{{'PAGE.COMPETENCY.OVERVIEW.EDIT.PLACEHOLDER.DESC' | translate}}">
                                </textarea>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="18">
                <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="26" nzLabelAlign="left">
                        {{'PAGE.COMPETENCY.OVERVIEW.EDIT.INPUT.TAG'| translate}}
                    </nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="compTagList" id="compTagList" nzMode="tags"
                            [nzTokenSeparators]="[',']"
                            nzPlaceHolder="{{'PAGE.COMPETENCY.OVERVIEW.EDIT.PLACEHOLDER.TAG'| translate}}">
                            @for (tag of listOfExistingTag; track tag) {
                            <nz-option [nzLabel]="tag.tag" [nzValue]="tag.tag"></nz-option>
                            }
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>

    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="close()">
                {{'PAGE.COMPETENCY.OVERVIEW.EDIT.BUTTON.CANCEL'| translate}}
            </button>
            <button nz-button nzType="primary" (click)="showConfirm()">
                {{'PAGE.COMPETENCY.OVERVIEW.EDIT.BUTTON.SUBMIT'| translate}}
            </button>
        </div>
    </ng-template>

</nz-drawer>

<ng-template #inputClearTpl>
    <nz-icon *ngIf="this.validateForm.get('competency')?.value" class="ant-input-clear-icon" nzTheme="fill"
        nzType="close-circle" (click)="validateForm.get('competency')?.setValue('')" />
</ng-template>

<ng-template #textAreaClearTpl>
    <nz-icon *ngIf="this.validateForm.get('description')?.value" class="ant-input-clear-icon" nzTheme="fill"
        nzType="close-circle" (click)="validateForm.get('description')?.setValue('')" />
</ng-template>