@use '@angular/material' as mat;
@use '../../../_theme.scss' as app-theme;

@include mat.core();
@include mat.all-component-themes(app-theme.$my-theme);

.reset-password-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: auto;

    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
    }
}

.reset-password-left,
.reset-password-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reset-password-left {
    height: auto;
    background-color: mat.m2-get-color-from-palette(app-theme.$my-primary, 50);
    padding: 5%;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        display: none;
    }
}

.reset-password-right {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;

    @media (max-width: 768px) {
        width: 100%;
        padding: 40px 20px;
        flex: none;
    }
}

.reset-password-left img {
    width: 65%;
    height: auto;
}

.reset-password-text {
    width: 100%;
    color: mat.m2-get-color-from-palette(app-theme.$my-primary, 500);
}

.reset-password-text h1 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: xx-large;
    color: mat.m2-get-color-from-palette(app-theme.$my-primary, 500);
}

.reset-password-text span {
    font-weight: bold;
}

.reset-password-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-password-form {
    width: 100%;
    height: fit-content;
}

.reset-password-form h1 {
    font-size: xx-large;
    color: mat.m2-get-color-from-palette(app-theme.$my-primary, 500);
}


::ng-deep .ant-otp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
}

::ng-deep .ant-otp-input {
    width: 10%;
    aspect-ratio: 1 / 1 !important;
    font-size: 1.5rem;
    text-align: center;
    min-width: 0;
    border: mat.m2-get-color-from-palette(app-theme.$my-primary, 100) solid 1px;
}

::ng-deep .otp-container .ant-form-item-explain-error {
    margin-top: 1%;
    margin-left: 5%;
}

.reset-password-error-container {
    width: 100%;
    margin: 2%;
}

::ng-deep .ant-alert-error {
    color: mat.m2-get-color-from-palette(app-theme.$my-accent, 500);
    background-color: mat.m2-get-color-from-palette(app-theme.$my-accent, 50);
    border-color: mat.m2-get-color-from-palette(app-theme.$my-accent, 500);
}

::ng-deep .ant-alert-with-description .ant-alert-message {
    color: mat.m2-get-color-from-palette(app-theme.$my-accent, 500);
}

.reset-password-input {
    margin-left: 1%;
}

.reset-form-margin {
    display: flex !important;
    justify-content: end !important;
    margin-bottom: 5%;
}

.reset-form-resend-button {
    display: flex;
    border: 0;
    background-color: transparent;
    color: mat.m2-get-color-from-palette(app-theme.$my-primary, A800);
    cursor: pointer;

    transition: color 0.5s ease;

    &:not(:disabled):hover {
        color: mat.m2-get-color-from-palette(app-theme.$my-primary, 400);
    }

    &:disabled {
        cursor: not-allowed;
        color: mat.m2-get-color-from-palette(app-theme.$my-primary, 200) !important;
    }
}

.line-break {
    height: 1px;
    background-color: mat.m2-get-color-from-palette(app-theme.$my-primary, 500);
    border: 0;
    margin: 5% 0% 2% 0%;
}

::ng-deep .ant-input-affix-wrapper input::placeholder {
    color: mat.m2-get-color-from-palette(app-theme.$my-primary, 100);
}

::ng-deep .ant-input {
    color: mat.m2-get-color-from-palette(app-theme.$my-primary, 700) !important;
}

::ng-deep .ant-input-affix-wrapper {
    border-radius: 3px;
    border-color: mat.m2-get-color-from-palette(app-theme.$my-primary, 50);
}

::ng-deep .ant-input-affix-wrapper-status-error .ant-input-prefix {
    color: mat.m2-get-color-from-palette(app-theme.$my-accent, 500);
}

::ng-deep .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper {
    border-color: mat.m2-get-color-from-palette(app-theme.$my-accent, 500);
}

::ng-deep .ant-form-item-explain-error {
    color: mat.m2-get-color-from-palette(app-theme.$my-accent, 500);
}

::ng-deep .ant-input-prefix {
    color: mat.m2-get-color-from-palette(app-theme.$my-primary, 500);
}

.reset-form-visible {
    color: mat.m2-get-color-from-palette(app-theme.$my-primary, A700);
    cursor: pointer;
    margin-left: 1%;

    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

    &:not(:disabled):hover {
        color: mat.m2-get-color-from-palette(app-theme.$my-primary, A800);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: mat.m2-get-color-from-palette(app-theme.$my-primary, 200);
    }
}

.reset-password-form-button {
    background-color: mat.m2-get-color-from-palette(app-theme.$my-primary, 500);
    color: white !important;
    border-color: mat.m2-get-color-from-palette(app-theme.$my-primary, 500);
    border: none;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    margin-bottom: 2%;

    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

    &:not(:disabled):hover {
        background-color: mat.m2-get-color-from-palette(app-theme.$my-primary, 800);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: mat.m2-get-color-from-palette(app-theme.$my-primary, 200) !important;
    }
}

.password-checker span {
    transition: color 0.5 ease;
}