<div class="reset-password-wrapper">
  <div class="reset-password-left">
    <img src="assets\reset-password-illustration.svg" alt="reset password illustration" />
  </div>
  <div class="reset-password-right">
    <div class="reset-password-text">
      <h1>{{ 'AUTH.RESET_PASSWORD.TITLE' | translate }}</h1>
      <p>{{ 'AUTH.RESET_PASSWORD.INSTRUCTION1' | translate }}
        <span>{{validateForm.get('email')?.value? validateForm.get('email')!.value! : email}}</span>
        {{ 'AUTH.RESET_PASSWORD.INSTRUCTION2' | translate }}
      </p>
    </div>

    <form nz-form [formGroup]="validateForm" class="reset-password-form">

      <div class="otp-container">
        <nz-form-item>
          <nz-form-control nzErrorTip="{{ 'AUTH.RESET_PASSWORD.ERR.OTP' | translate }}">
            <nz-input-otp [nzLength]="6" formControlName="otp"></nz-input-otp>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="reset-password-error-container" *ngIf="resendHasError">
        <nz-alert *ngIf="resendHasError" nzType="error" [nzMessage]="resendErrorTitle"
          [nzDescription]="resendErrorMessage" nzShowIcon>
        </nz-alert>
      </div>

      <div class="reset-form-margin">
        <button [disabled]="isCountDown || isResent" (click)="!isCountDown && !isResent ? resendOtp() : null"
          class="reset-form-resend-button">{{ isCountDown ?
          ('AUTH.RESET_PASSWORD.RESEND_CD1' | translate) + ' ' +
          (remainder) + ' ' + ('AUTH.RESET_PASSWORD.RESEND_CD2' | translate) :
          isResent ? ('AUTH.RESET_PASSWORD.RESENT' | translate ) :
          ( 'AUTH.RESET_PASSWORD.RESEND' | translate ) }}</button>
      </div>

      <hr class="line-break">

      <h1>{{ 'AUTH.RESET_PASSWORD.NEW_PASSWORD' | translate }}</h1>

      <div class="reset-password-error-container" *ngIf="newPasswordHasError">
        <nz-alert *ngIf="newPasswordHasError" nzType="error" [nzMessage]="newPasswordErrorTitle"
          [nzDescription]="newPasswordErrorMessage" nzShowIcon>
        </nz-alert>
      </div>

      <nz-form-item>
        <nz-form-control nzErrorTip="{{ 'AUTH.RESET_PASSWORD.ERR.PASSWORD' | translate }}">
          <nz-input-group nzPrefixIcon="lock">
            <input [type]="isPasswordVisible ? 'text' : 'password' " nz-input formControlName="password"
              placeholder="Password" class="reset-password-input" (input)="onPasswordInputChange()" maxlength="128" />
            <nz-icon *ngIf="isPasswordVisible" class="reset-form-visible" nzType="eye" nzTheme="outline"
              (click)="isPasswordVisible = !isPasswordVisible" />
            <nz-icon *ngIf="!isPasswordVisible" class="reset-form-visible" nzType="eye-invisible" nzTheme="outline"
              (click)="isPasswordVisible = !isPasswordVisible" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <div class="password-checker">
        <p>
          @for (validator of listOfValidator; track validator.id) {
          <span [style]="{ color: validator.isPassed ? 'green' : redColorCode }">
            <nz-icon *ngIf="validator.isLoading; else checkedIcon" nzType="loading" nzTheme="outline">
            </nz-icon>

            <ng-template #checkedIcon>
              <nz-icon [nzType]="validator.isPassed ? 'check' : 'close'" nzTheme="outline"
                [ngStyle]="{ color: validator.isPassed ? 'green' : redColorCode }">
              </nz-icon>
            </ng-template>

            {{ validator.text }}
          </span><br />
          }
        </p>
      </div>

      <button [disabled]="!validateForm.valid || !checkPassword(validateForm.get('password')!.value!) " nz-button
        class="reset-password-form-button" [nzType]="'primary'" (click)="submitForm()">{{ 'AUTH.RESET_PASSWORD.RESET' |
        translate }}
      </button>
    </form>

  </div>
</div>