<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{ISO8601} %-5level [%t] %C{1}: %msg%n</Pattern>
        </encoder>
    </appender>

    <springProfile name="uat">
        <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>C:/Users/Career_Pathway/logs/application-current.log</file>

            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </encoder>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>C:/Users/Career_Pathway/logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
        </appender>
    </springProfile>

    <springProfile name="!uat">
        <root level="info">
            <appender-ref ref="Console" />
        </root>
    </springProfile>

    <springProfile name="uat">
        <root level="info">
            <appender-ref ref="Console" />
            <appender-ref ref="RollingFile" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <logger name="org.hibernate.engine.internal" level="WARN"/>
        <logger name="org.hibernate.SQL" level="WARN"/>
    </springProfile>

</configuration>