@use '@angular/material' as mat;
@use '../../../../../app/theme' as app-theme;

@include mat.core();
@include mat.all-component-themes(app-theme.$my-theme);

::ng-deep .ant-input {
    padding: 0 !important;
}

.dynamic-delete-button {
    transition: color 0.3s ease;

    &:not(:disabled):hover {
        color: mat.m2-get-color-from-palette(app-theme.$my-accent, 500);
    }
}

.add-button {
    margin-bottom: 10%;
}

.competency-input {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.competency-input .competency-select {
    flex: 1;
    margin: 0;

    @media (max-width: 576px) {
        flex: 0 0 100%;
        order: 1;
    }
}

.competency-input .weightage-input {
    flex: 0 0 30%;
    margin: 0;

    @media (max-width: 576px) {
        flex: 1;
        order: 2;
    }
}

.competency-input .dynamic-delete-button {
    flex: 0 0 5%;
    font-size: large;
    cursor: pointer;
    margin: 0;

    transition: color 0.3s ease;

    &:not(:disabled):hover {
        color: mat.m2-get-color-from-palette(app-theme.$my-accent, 500);
    }

    @media (max-width: 576px) {
        order: 3;
    }
}

::ng-deep .ant-form-item-explain-error {
    margin-bottom: 3%;
}

::ng-deep .ant-form-item-explain-warning {
    margin-bottom: 3%;
}

::ng-deep .custom-option {
    .cdk-virtual-scroll-viewport {
        min-height: 68px;
    }
}