<div class="forgot-password-wrapper">
  <div class="forgot-password-left">
    <div class="forgot-password-image-container">
      <img src="assets\forgot-password-illustration.svg" alt="forgot password Illustration"
        class="forgot-password-image" />
    </div>
  </div>

  <div class="forgot-password-right">
    <div class="forgot-password-text">
      <h1>{{ 'AUTH.FORGOT_PASSWORD.TITLE' | translate }}</h1>
      <span>{{ 'AUTH.FORGOT_PASSWORD.INSTRUCTION' | translate }}</span>
    </div>

    <div class="forgot-password-error-container" *ngIf="hasError">
      <nz-alert *ngIf="hasError" nzType="error" [nzMessage]="errorTitle" [nzDescription]="errorMessage" nzShowIcon>
      </nz-alert>
    </div>

    <form nz-form [formGroup]="validateForm" class="forgot-password-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="{{ 'AUTH.FORGOT_PASSWORD.ERR.EMAIL' | translate }}">
          <nz-input-group nzPrefixIcon="mail">
            <input type="text" nz-input formControlName="email" class="forgot-password-input"
              oninput="this.value = this.value.trim().toLowerCase();" maxlength="255"
              placeholder="{{ 'AUTH.FORGOT_PASSWORD.INPUT.EMAIL' | translate }}" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <div class="forgot-password-form-button-container">
        <button [disabled]="!validateForm.valid" nz-button class="forgot-password-form-button"
          [nzType]="'primary'">{{'AUTH.FORGOT_PASSWORD.SEND' | translate}}</button>
        <span (click)="backToLogin()">
          <nz-icon nzType="left" nzTheme="outline" />
          {{'AUTH.FORGOT_PASSWORD.BACK' |
          translate}}
        </span>
      </div>
    </form>
  </div>
</div>