@use '@angular/material' as mat;
@use '../../../../theme' as app-theme;

.detail-column {
    &:first-child {
        border-right: 1px solid mat.m2-get-color-from-palette(app-theme.$my-primary, 100);
    }
}

.detail-title {
    color: #000000;
    font-weight: 600;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.detail-content {
    color: #595959;
    line-height: 1.6;
}

.text-muted {
    color: #bfbfbf;
    font-style: italic;
}

@media (max-width: 768px) {
    .detail-column {
        &:first-child {
            border-right: none;
            border-bottom: 1px solid mat.m2-get-color-from-palette(app-theme.$my-primary, 100);
            margin-bottom: 24px;
            padding-bottom: 24px;
        }
    }
}
